<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% seo %}
  
  <!-- 思源黑体 webfont -->
  <link rel="stylesheet" href="https://google-fonts.mirrors.sjtug.sjtu.edu.cn/earlyaccess/notosanssc.css">

  <!-- 
    全站唯一合并样式表 (style.css)
    包含: Base, Blog Layout, Post Styles, Floating Buttons, Main styles, Dark Mode
  -->
  <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">

</head>