{% assign url = page.url | absolute_url %}
{% assign title = page.title %}

<div class="share-buttons">
  <a href="https://service.weibo.com/share/share.php?url={{ url | url_encode }}&title={{ title | url_encode }}"
     target="_blank" rel="noopener noreferrer" class="share-btn" title="分享到微博">
    <svg class="icon-svg"><use href="#i-weibo"/></svg>
  </a>
  <a href="https://twitter.com/intent/tweet?url={{ url | url_encode }}&text={{ title | url_encode }}"
     target="_blank" rel="noopener noreferrer" class="share-btn" title="分享到 Twitter">
    <svg class="icon-svg"><use href="#i-twitter"/></svg>
  </a>
  <button class="share-btn" id="copyLinkBtn" title="复制链接">
    <svg class="icon-svg"><use href="#i-link"/></svg>
  </button>
</div>
