---
layout: base
---

<div class="md:w-4/5 mx-auto columns-2 md:columns-3 my-10 gap-0">
  {% for pic in site.data.gallery.photos %}
  <div class="gallery-item">
    {% comment %} 添加缩略图服务开关逻辑 {% endcomment %}
    {% if site.thumbnail_service %}
      <img src="//wsrv.nl/?url={{ pic.url | absolute_url }}&w=&h=" 
           alt="{{pic.description}}" 
           class="w-full max-w-screen-sm h-auto shadow-md">
    {% else %}
      <img src="{{ pic.url | relative_url }}" 
           alt="{{pic.description}}" 
           class="w-full max-w-screen-sm h-auto shadow-md">
    {% endif %}
    <div class="overlay">
      <div class="text">{{pic.quote}}</div>
    </div>
  </div>
  {% endfor %}
</div>